;
; mqtt_web_server.conf - for supervisord configuration file
;
; install
;     $ sudo apt-get install supervisor
;     $ pwd
;       (check your scrpt path...)
;     $ sudo cp mqtt_web_camera.conf.sample /etc/supervisor/conf.d/mqtt_web_camera.conf
;     $ sudo vi /etc/supervisor/conf.d/mqtt_web_camera.conf
;       (fix path, etc...)
;     $ sudo supervisorctl update
;     mqtt_web_camera: added process group
;     $ sudo supervisorctl status
;     mqtt_web_camera        RUNNING    pid 8192, uptime 0:00:30
;
; see also
;     Supervisor: A Process Control System
;     http://supervisord.org/
;
[program:mqtt_web_camera]
command                 = python3 mqtt_web_camera.py
directory               = /home/pi/work/mqtt_web_camera/
user                    = pi
numprocs                = 1
autostart               = true
autorestart             = true
redirect_stderr         = true
stdout_logfile          = /home/pi/work/mqtt_web_camera/log.txt
startsecs               = 5
startretries            = 10
stdout_logfile_maxbytes = 1MB
stdout_logfile_backups  = 1
